* {
  box-sizing: border-box;
}

html, 
body,
.delete-prompt,
.cover,
.meal-table-section,
.showMealSection {
  height: 100%;
}

html,
body {
  max-height: 100%;
}

html {
  overflow-y: overlay;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

body,
.delete-prompt div,
.backToTable {
  background-color: #FFF9F1; 
}

body,
.meal-table-section,
.showMealSection,
nav,
.meal-section-menu,
.meal-section-features,
.meal-names-section,
.meal-names-section div,
.meal-section-info,
.foodItemSection,
.search-results,
.foodItem,
.foodName,
.macroSection,
.macroSection div,
.addedFoodItem,
.step1 {
  display: flex;
}

body,
.meal-table-section,
.meal-section-menu,
.meal-names-section,
.meal-section-info,
.foodItemSection,
.foodItem,
.macroSection div,
.step1 {
  flex-direction: column;
}

button,
a,
.addMealSecBtn,
.js-search,
.proceedBtn,
.addBtn {
  cursor: pointer;
}

.delete-prompt,
.hide,
.backToTable,
.step2,
.pdfFriendly-section .removeFoodItem,
.search-add-section .backToTop {
  display: none;
}

.delete-prompt,
.notification,
.search-add-section .backToTop {
  position: fixed;
}

.delete-prompt,
.cover,
.meal-table-section,
.showMealSection,
.foodItemSection h2,
.macroSection,
footer {
  width: 100%;
}

.delete-prompt,
header,
.meal-section-menu,
.search-form,
.totalResults,
.search-add-section,
.notification p:last-child,
footer {
  text-align: center;
}

.delete-prompt {
  background-color: rgba(0, 0, 0, 0.9);
}

.delete-prompt div,
.search-add-section,
footer {
  padding: 20px;
}

.delete-prompt div,
.step1 {
  max-width: 550px;
}

.delete-prompt div {
  position: absolute;
  max-height: 175px;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  margin: auto auto;
}

.delete-prompt p,
.delete-prompt span,
.nutritionInfo p,
.addedFoodName {
  line-height: 18px;
}

.delete-prompt p,
.delete-prompt span,
header h2,
.foodItem {
  margin: 10px;
}

.delete-prompt span,
header h2 {
  font-size: 24px;
}

.delete-prompt span {
  display: block;
}

.delete-prompt span,
header h2,
.weekDay,
.step1,
.step2,
.noFoodNotification,
.meal-name-form legend,
.search-form legend,
.foodName,
.meal-section-info h2,
.nutritionInfo h2,
.macroSection div,
.addedFoodName,
footer {
  font-weight: bold;
}

.delete-prompt button {
  margin: 5px 0px 10px 0px;
}

.proceedBtn, 
.addBtn,
.exitBtn {
  width: 75px;
}

.proceedBtn, 
.addBtn,
.exitBtn,
.weekDay {
  padding: 10px 20px;
}

.proceedBtn, 
.addBtn,
.exitBtn,
.addMealSecBtn,
.meal-section-features button,
.loadBtn,
.addFoodItemBtn,
.deleteMealSecBtn,
.js-search,
.notification {
  color: white;
}

.proceedBtn, 
.addBtn,
.notification {
  background-color: rgb(105, 185, 118);
}

.proceedBtn, 
.addBtn,
.exitBtn,
.removeFoodItem,
.addMealSecBtn,
.meal-section-features button,
.loadBtn,
.meal-names-section div div,
.addFoodItemBtn, 
.deleteMealSecBtn,
.pdfFriendly-section .meal-section-info  {
  border: none;
}

.proceedBtn, 
.addBtn,
.exitBtn,
.foodName {
  font-size: 14px;
}

.addFoodItemBtn,
.deleteMealSecBtn {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0);
}

.addFoodItemBtn i,
.deleteMealSecBtn i,
.removeFoodItem i,
.js-meal-name-input,
.addMealSecBtn,
.meal-names-section a,
.js-query,
.js-search,
.search-add-section .backToTop,
.backToTable  {
  font-size: 18px;
}

.addFoodItemBtn i {
  color: rgb(105, 185, 118);
}

.addFoodItemBtn i:hover {
  color: rgb(62, 151, 77);
}

.proceedBtn:hover,
.addBtn:hover {
  background-color: rgb(62, 151, 77);
}

.foodItem .addBtn,
.loadBtn {
  margin: 0 auto;
}

.addBtn {
  width: 40%;
}

.addBtn,
header h2,
header p,
.meal-name-form legend,
.search-form legend,
.foodName,
.meal-section-info h2,
.legend,
.notification p:last-child {
  text-transform: uppercase;
}

.addFoodItemBtn {
  margin-right: 10px;
}

.exitBtn {
  background-color: rgb(248, 66, 66);
}

.deleteMealSecBtn i,
.removeFoodItem i {
  color: rgb(248, 66, 66);
}

.deleteMealSecBtn i:hover,
.removeFoodItem i:hover {
  color: rgb(107, 5, 5);
}

.exitBtn:hover {
  background-color: rgb(231, 62, 62);
}

.removeFoodItem {
  height: 25px;
  background-color: rgba(255, 249, 241, 0);
}

header {
  background-image: url(https://pune365.com/wp-content/uploads/2017/02/30287438_l.jpg);
  background-size: cover; 
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}

header,
nav {
  border-bottom: 1px solid rgb(250, 224, 141);
}

header h1 {
  font-size: 48px;
  font-weight: bolder;
}

header h2 {
  font-weight: 100;
}

header p,
.meal-name-form legend,
.meal-section-features button,
.loadBtn,
.foodItemSection p,
.macroSection p {
  font-size: 16px;
}

.cover {
  padding: 30px 20px; 
  background-color: rgba(0,0,0,.5);
  color: #FFF9F1;
}

nav,
.search-results {
  justify-content: center;
}

nav,
.search-results,
.macroSection {
  flex-wrap: wrap;
}

nav,
.backToTable {
  border-top: 1px solid rgb(250, 224, 141);
}

nav {
  background-color: #FFE79B;
}

nav,
.addedFoodItem,
.meal-names-section div,
footer {
  flex-shrink: 0;
}

nav div,
.macroSection h2 { 
  padding: 10px 0;
}

.weekDay,
.foodName,
.backToTable {
  text-decoration-line: none;
}

a,
a:visited,
footer {
  color: black;
}

nav div:hover,
nav .weekDay:focus,
.focus,
footer {
  background-color: rgb(241, 213, 121);
}

.meal-section-menu,
.step2 {
  padding: 30px;
}

.meal-section-menu,
.backToTable {
  border-right: 1px solid rgb(250, 224, 141);
}

.meal-section-menu {
  width: 30%;
}

.meal-name-form fieldset,
.search-form fieldset {
  padding: 30px 0px;
}

.meal-name-form legend {
  text-align:  left;
}

.js-meal-name-input,
.meal-names-section div ,
.js-query,
.js-search,
.foodItem,
.notification,
.search-add-section .backToTop {
  padding: 10px;
}

.js-meal-name-input,
.js-search {
  border: 1px solid rgb(184, 203, 235);
}

.js-meal-name-input,
.js-query,
.backToTable {
  border-top-left-radius: 5px;
}

.js-meal-name-input,
.js-query {
  width: 85%;
  border-right: none;
  border-bottom-left-radius: 5px; 
}

.js-meal-name-input,
.js-query,
.search-form fieldset .js-query {
  outline: none;
}

.addMealSecBtn,
.js-search,
.backToTable {
  border-top-right-radius: 5px;
}

.addMealSecBtn,
.js-search {
  border-bottom-right-radius: 5px;
}

.addMealSecBtn,
.meal-section-features button,
.loadBtn,
.js-search {
  background-color: #4589FA;
}

.addMealSecBtn {
  width: 15%;
  padding: 11px;
}

.meal-section-features button,
.loadBtn {
  padding: 15px;
  width: 50%;
  margin-bottom: 30px;
}

.addMealSecBtn:hover,
.resetTableBtn:hover,
.pdfBtn:hover,
.js-search:hover,
.loadBtn:hover {
  background-color: rgb(62, 117, 206);
}

.resetTableBtn,
.foodName i {
  margin-right: 5px;
}

.pdfBtn {
  margin-left: 5px;
}

.meal-names-section {
  overflow: auto;
  max-height: 500px;
  margin-top: 20px;
}

.meal-names-section div,
.macroSection {
  margin-top: 10px;
}

.meal-names-section div {
  align-items: baseline;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(226, 226, 226);
}

.meal-names-section div div {

  flex-basis: 100%;
  justify-content: flex-end;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
}

.meal-names-section div:focus {
  background-color: rgb(226, 226, 226);
}

.meal-names-section a,
.capName,
.notification p:first-child::first-letter {
  text-transform: capitalize;
}

.backToTable:hover,
.backToTop:hover {
  color: #4589FA;
}

.search-form fieldset 
.js-query {
  width: 45%;
  border-top: 1px solid rgb(184, 203, 235);
  border-bottom: 1px solid rgb(184, 203, 235);
  border-left: 1px solid rgb(184, 203, 235);
}

.js-search {
  width: 10%;
}

.foodName,
.addedFoodName,
.step1,
.step2,
.noFoodNotification {
  color: rgb(139, 7, 18);
}

.foodName,
.notification {
  line-height: 20px;
}

.foodName,
.foodItem,
.macroSection p,
.macroSection h2,
.addedFoodName {
  text-align: left;
}

.foodName {
  flex-basis: 25%;
  flex-grow: 2;
  padding-bottom: 10px;
}

.foodName i {
  line-height: 15px;
}

.totalResults {
  font-style: italic;
}

.meal-section-info,
.step2 {
  width: 70%;
}

.meal-section-info {
  padding: 30px 30px 20px 30px;
}

.meal-section-info h2 {
  font-size:  16px;
}

.weekDay,
.macroSection h2,
.step1,
.step2 {
  font-size: 20px;
}

.foodItemSection,
.macroSection {
  border-top: 2px solid black;
}

.foodItemSection {
  overflow-y: auto;
}

.foodItemSection {
  max-height: 750px;
  padding-top: 10px;
  margin: 10px 0 30px;
}

.foodItemSection p,
.nutritionType p {
  display: inline-block;
}

.foodItemSection .macro p::after,
.nutritionInfo p::after {
  content: ', ';
}

.foodItemSection p:last-child::after,
.nutritionInfo p:last-child::after {
  content: '';
}

.backToTable,
.step1 {
  position: relative;
}

.backToTable {
  width: 106px;
  top: -36px;
  padding: 10px 10px 5px;
}

.search-results,
.macroSection {
  padding: 30px 0;
}

.foodItem,
.search-add-section .backToTop {
  border: 1px solid rgb(250, 224, 141);
}

.foodItem {
  flex-basis: 30%;
  border-radius: 3px;
}

.noFoodNotification {
  padding-top: 20px;
}

.nutritionInfo {
  margin-bottom: 20px;
}

.nutritionInfo h2,
.addedFoodName,
.step2 p:first-child {
  padding-bottom: 5px;
}

.nutritionInfo p {
  display: inline;
}

main .pdfFriendly {
  text-align: right;
}

.macroSection {
  justify-content: space-between;
}

.addedFoodItem {
  padding: 20px 0 5px;
}

.legend 
.notification,
.search-add-section .backToTop,
.resetTableBtn,
.pdfBtn,
.meal-names-section div,
.proceedBtn,
.exitBtn,
.addBtn,
.loadBtn {
  border-radius: 5px;
}

.notification {
  max-height: 250px;
  max-width: 250px;
  border: 1px solid rgb(62, 151, 77);
  top: 0;
  right: 0;
  margin: 20px;
}

.notification p:last-child {
  margin-top: 15px;
  font-size: 12px;
}

.step1 {
  align-self: center;
  padding: 40px 20px;
  line-height: 24PX;
}

.pdfFriendly-section {
  margin: 0 20px;
}

footer {
  border-top: 1px solid rgb(216, 191, 110);
}

.content {
  flex: 1 0 auto;
  flex-basis: 62%;
}

.search-add-section .backToTop {
  top: 35%;
  right: 42px;
  background-color: rgb(250, 224, 141);
}

.backToTop i {
  color: #9e7819;
}

@media only screen and (max-width: 999px) {
  .search-results .foodItem{
    width: 40%;
  }
}

@media only screen and (max-width: 799px) {
  header,
  main,
  .meal-section-info {
    height: auto;
  }
  
  header h1 {
    font-size: 40px;
  }
  
  header h2 {
    font-size: 16px;
  }
  
  header p,
  .foodName,
  .nutritionInfo {
    font-size: 12px;
  }
  
  .js-meal-name-input {
    max-width: 85%;
  }

  .meal-section-menu,
  .meal-section-info,
  .step2 {
    width: 100%;
  }

  .meal-section-menu,
  .meal-section-info {
    border: none;
  }

  .meal-section-menu {
    margin-top: 30px;
    border-bottom: 1px solid rgb(250, 224, 141);
  }

  .showMealSection {
    flex-direction: column;
  }

.foodItem {
    flex-basis: 100%;
    margin: 30px 0 10px 0;
  }

  .meal-name-form legend {
    text-align:  left;
  }

  .js-search {
    width: 75px;
  }

  .notification {
    top: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .search-add-section .backToTop {
    right: 20px;
  }

  .meal-section-features button {
    margin-bottom: 0;
  }
}


