* {
  box-sizing: border-box;
}

html, 
body,
main {
  height: 100%;
  min-height: 100%;
  background-color: #FFEED9;
}

body {
  text-align: center;
}

header {
  margin: 0;
  padding: 20px;
  background: #F0782E;
}

h1 {
  font-size: 36px;
  margin: 10px;
}

.weekDay:visited {
  color: white;
}


h1, 
.meal-names-section a {
  color: black;
}

h2 {
  text-transform: uppercase;
}

/* section display properties */
.search-add-section, 
.delete-prompt, 
.hide {
  display: none;
}

.search-add-section {
  background-color: #FFEED9;
}

.search-form {
  background-color: #4B631C;
}

.meal-table-section{
  height: 100%;
  background: #FFEED9;
  border-left: 1px solid #918073;
}

.showMealSection,
.meal-table-section,
.meal-section-menu,
.meal-section-info {
  display: flex;
}

.showMealSection {
  height: 100%;
}

.meal-section-info{
  width: 75%;
}

.meal-section-info h2 {
  padding: 10px;
}

.meal-table-section, 
.meal-section-menu,
.meal-section-info {
  flex-direction: column;
}

/* New CSS */
.meal-table-section {
  margin: 0px auto;
}

nav {
  background: #4B631C;
  border-top: 1px solid #918073;
  border-bottom: 1px solid #918073;
}

nav div, 
.weekDay, 
.meal-names-section a  {
  display: inline-block;
}

.meal-names-section div {
  margin: 8px;
}

.weekDay, 
.meal-names-section a {
  text-decoration-line: none;
}

.weekDay {
  padding: 10px 20px;
  font-size: 20px;
}

.focus, 
.mealSectionFocus {
  background-color: #4F2C1E;
  opacity: 0.9;
}

.meal-section-menu {
  position: relative;
  width: 25%;
  padding: 10px;
  background: #4F2C1E;
  border-right: 1px solid #918073;
}

.meal-names-section {
  height: 100%;
}

.deleteMealSecBtn, 
.addFoodItemBtn {
  float: right;
}

.addMealSecBtn {
  padding: 6px;
}

.meal-name-form fieldset {
  border: none;
}

.foodItemSection, 
.macroSection {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}
.meal-name-form .js-meal-name {
  width: 85%;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.meal-names-section div{
  padding: 8px;
  background-color: #DEDEDE;
  border:1px solid lightgray;
}

.meal-names-section a {
  text-transform: capitalize;
}

.nutritionType p {
  display: inline-block;
}

.nutritionInfo div p {
  display: inline-block;
}

.nutritionInfo div {
  padding: 5px;
}

.legend {
  background-color: white;
}
